{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if page == 'home' %} 
        <link rel="stylesheet" href="{% static 'css/accueil-style.css' %}" type="text/css"/>
        <title>Green Planet | Accueil</title>
    {% endif %}

    {% if page == 'service' %} 
    <link rel="stylesheet" href="{% static 'css/nos-services-style.css' %}" type="text/css"/>
    <title>Green Planet | Nos services</title>
    {%endif%}

    {% if page == 'about' %} 
      <link rel="stylesheet" href="{% static 'css/qui-sommes-nous.css' %}" type="text/css"/>
      <title>Green Planet | Qui sommes-nous ?</title>
    {%endif%}

    {% if page == 'contact' %} 
      <link rel="stylesheet" href="{% static 'css/contact-style.css' %}" type="text/css"/>
      <title>Green Planet | Contact</title>
    {%endif%}

    {% if page == 'chatbot' %} 
      <link rel="stylesheet" href="{% static 'css/chatbot.css' %}" type="text/css"/>
      <title>Green Planet | Chatbot</title>
    {%endif%}

      
    <script
      src="https://kit.fontawesome.com/8e5b8c7544.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images-accueil/favicon.png' %}"
    />
    {% load static %}
  </head>

  <body>
    {% load static %}
    <header>
      <!--Code pour le header-->
      <a href="/home" id="header_green-planet"
        ><img
          id="header_logo"
          src="{% static 'images-general/logo-green-planet.png' %}"
          alt="logo"
        />Green Planet</a
      >
      <nav>
        <label id="header_burger" for="header_toggle">☰</label>
        <input type="checkbox" id="header_toggle" />
        <ul id="header_ul">
          <li class="header_li"><a title="Accueil" href="/home">Accueil</a></li>
          <li class="header_li">
            <a title="Nos services" href="/service">Nos services</a>
          </li>
          <li class="header_li">
            <a title="Qui sommes-nous" href="/about">Qui sommes-nous ?</a>
          </li>
          <li class="header_li">
            <a title="Contact" href="/contact">Contact</a>
          </li>
          <li class="header_li">
            <a title="Chatbot" href="/chatbot">Chatbot</a>
          </li>
        </ul>
      </nav>
    </header>

    <!--Ici le contenu du site web/Accueil-->
    {% if page == 'home' %}
    <div class="accueil-titre">
      <h1>L'ÉCOLOGIE, UN JEU D'ENFANT !</h1>
      <p class="accueil-sensibiliser">
        Sensibiliser et accompagner les établissements scolaires vers une
        démarche écologique
      </p>
    </div>

    <!--3 blocs alignés avec des boutons cliquables-->
    <section class="accueil-bloc">
      <div class="accueil-agenda">
        <h3>Actualités</h3>
        <img
          id="accueil-img-agenda"
          src="{% static 'images-accueil/planning.png' %}"
          alt="agenda pour prendre rdv"
        />
        <p class="accueil-texte-agenda">
          Participez à nos prochains évènements !
        </p>
        <button>Agenda</button>
      </div>

      <div class="accueil-services">
        <h3 class="accueil-intervention">
          Interventions dans les établissements scolaires
        </h3>
        <img
          id="accueil-img-graine"
          src="{% static 'images-accueil/enfant graine.png' %}"
          alt="enfants qui font pousser une plante"
        />
        <p>Pour les petites graines qui vont semer l'avenir</p>
        <button class="accueil-boutton-nos-services">
          <a title="Nos services" href="{% static 'nos-services.html' %}"
            >Nos services</a
          >
        </button>
      </div>

      <div class="accueil-blog">
        <h3>Blog</h3>
        <img />
        <p class="accueil-texte-blog">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          blanditiis ducimus at fuga quidem recusandae voluptatibus fugiat
          reprehenderit! Minus error ratione totam? Blanditiis vitae officia
          maiores dignissimos quidem, saepe animi.
        </p>
        <button>Voir plus</button>
      </div>
    </section>

    <!--Les missions de green planet, fond blanc-->

    <h2 class="accueil-titremissions">LES MISSIONS DE GREEN PLANET</h2>
    <div class="accueil-greenplanet">
      <ul class="accueil-mission">
        <li>
          <img
            class="accueil-imgliste"
            src="{% static 'images-accueil/economiser-lenergie.png' %}"
            alt="main pousse"
          />
          Sensibiliser à l'écologie par le jeu
        </li>
        <li>
          <img
            class="accueil-imgliste"
            src="{% static 'images-accueil/economiser-lenergie.png' %}"
            alt="main pousse"
          />
          Rendre le recyclage accessible dès le plus jeune age
        </li>
        <li>
          <img
            class="accueil-imgliste"
            src="{% static 'images-accueil/economiser-lenergie.png' %}"
            alt="main pousse"
          />
          Animer des ateliers ludiques autour du "Do it Yourself"
        </li>
        <li>
          <img
            class="accueil-imgliste"
            src="{% static 'images-accueil/economiser-lenergie.png' %}"
            alt="main pousse"
          />
          Organiser des sorties pour découvrir la faune et la flore
        </li>
        <li>
          <img
            class="accueil-imgliste"
            src="{% static 'images-accueil/economiser-lenergie.png' %}"
            alt="main pousse"
          />
          Proposer des Green kits pour les classes et les foyers
        </li>
        <li>
          <img
            class="accueil-imgliste"
            src="{% static 'images-accueil/economiser-lenergie.png' %}"
            alt="main pousse"
          />
          Organiser des clean walks avec les établissements scolaires
        </li>
      </ul>
      <img
        id="accueil-img-missions"
        src="{% static 'images-accueil/mission green planet.JPG' %}"
        alt="enfants qui recyclent"
      />
    </div>

    <!--Bandeau derniers ateliers avec 3 blocs texte/image sur fond jaune-->

    <div class="accueil-fondjaune">
      <h2>NOS DERNIERS ATELIERS</h2>

      <section class="accueil-ateliers">
        <a class="accueil-bouton" href="{% static '#accueil_popup1' %}">
          <div class="accueil-ecole">
            <p>A la découverte de la flore locale<br />Ecole Dorléac</p>
            <img
              class="photo"
              src="{% static 'images-accueil/flore.JPG' %}"
              alt="enfants qui découvrent la flore"
            /></div
        ></a>
        <!--Fenetre pop-up pour interventions en maternelle-->
        <div id="accueil_popup1" class="accueil_popup_overlay">
          <div class="accueil_popup">
            <a class="accueil_popup_close" href="#">&times;</a>
            <h3 class="accueil_titre-popup">
              Interventions dans les écoles maternelles
            </h3>
            <img
              class="accueil_image-popup"
              src="{% static 'images-accueil/flore.JPG' %}"
              alt="image enfants"
            />
            <p class="accueil_texte-popup">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              delectus, consequatur est saepe explicabo id optio repudiandae
              nam, magni tempora quaerat nesciunt repellendus iure. Dignissimos
              minima quaerat soluta voluptates! Corrupti!
            </p>
          </div>
        </div>
        <!--Fin de fenetre pop-up pour interventions en maternelle-->

        <a class="accueil-bouton" href="{% static '#accueil_popup2' %}">
          <div class="accueil-college">
            <p>Atelier recyclerie<br />Collège Clémenceau</p>
            <img
              class="photo"
              src="{% static 'images-accueil/recyclerie.JPG' %}"
              alt="collegiens qui nettoyent la nature"
            /></div
        ></a>

        <!--Fenetre pop-up pour interventions en collège-->
        <div id="accueil_popup2" class="accueil_popup_overlay">
          <div class="accueil_popup">
            <a class="accueil_popup_close" href="#">&times;</a>
            <h3 class="accueil_titre-popup">Interventions dans les collèges</h3>
            <img
              class="accueil_image-popup"
              src="{% static 'images-accueil/recyclerie.JPG' %}"
              alt="image enfants"
            />
            <p class="accueil_texte-popup">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              delectus, consequatur est saepe explicabo id optio repudiandae
              nam, magni tempora quaerat nesciunt repellendus iure. Dignissimos
              minima quaerat soluta voluptates! Corrupti!
            </p>
          </div>
        </div>
        <!--Fin de fenetre pop-up pour interventions en collège-->

        <a class="accueil-bouton" href="{% static '#accueil_popup3' %}">
          <div class="accueil-lycee">
            <p>Clean walk au parc de Vincennes<br />Lycée Jules Ferry</p>
            <img
              class="photo"
              src="{% static 'images-accueil/groupe ados.png' %}"
              alt="lycéens qui font un atelier diy"
            /></div
        ></a>

        <!--Fenetre pop-up pour interventions en lycée-->
        <div id="accueil_popup3" class="accueil_popup_overlay">
          <div class="accueil_popup">
            <a class="accueil_popup_close" href="#">&times;</a>
            <h3 class="accueil_titre-popup">Interventions dans les collèges</h3>
            <img
              class="accueil_image-popup"
              src="{% static 'images-accueil/groupe ados.png' %}"
              alt="image enfants"
            />
            <p class="accueil_texte-popup">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit
              delectus, consequatur est saepe explicabo id optio repudiandae
              nam, magni tempora quaerat nesciunt repellendus iure. Dignissimos
              minima quaerat soluta voluptates! Corrupti!
            </p>
          </div>
        </div>
        <!--Fin de fenetre pop-up pour interventions en lycée-->
      </section>
    </div>

    <!--Formulaire de Newsletter-->

    <section class="accueil-newsletter">
      <div class="accueil-infonewsletter">
        <img
          class="accueil-imgnewsletter"
          src="{% static 'images-accueil/latest-news.png' %}"
          alt="megaphone qui crie Latest Newsletter"
        />
        <div class="accueil-contact"><p>Restons en contact !</p></div>
      </div>
      <form class="accueil-form">
        <label for="email"
          ><input
            id="email"
            name="email"
            type="email"
            required
            placeholder="Entrez votre adresse e-mail"
        /></label>
        <input class="zoom" type="submit" value="S'inscrire à la Newsletter" />
      </form>
    </section>
    {%endif%}
    <!--End of Accueil-->



    <!--Ici le contenu du site web/Nos services-->
    {% if page == 'service'%}

     <h1 id="nos-services_h1">Nos services</h1>
        
     <h2 class="nos-services_interventions">Interventions dans les écoles</h2>
     <div class="nos-services_bloc-1">
         <div class="nos-services_colonne1">
             <p class="nos-services-texte">Vous allez pouvoir sensibiliser vos élèves tout en s'amusant, en les responsabilisant grâce à des jeux ludiques tels que des escape games ou encore les Greenkits.
                 Vous pourrez ainsi travailler leur esprit d'équipe en leur proposant des défis écologiques entre les écoles ou les classes ou encore faire des ateliers "do it yourself".
             </p>
             <div class="nos-services-style-button">
                 <a class="bouton" href="#nos-services_popup1"><button class="nos-services_bouttons">En maternelle</button></a>

                 <!--Fenetre pop-up pour interventions en maternelle-->
                 <div id="nos-services_popup1" class="nos-services_popup_overlay">
                     <div class="nos-services_popup">
                         <a class="nos-services_popup_close" href="#">&times;</a>
                         <h3 class="nos-services_titre-popup">Interventions dans les écoles maternelles</h3>
                         <img class="nos-services_image-popup" src="{% static 'images-accueil/flore.JPG' %}" alt="image enfants">
                         <p class="nos-services_texte-popup">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit delectus, consequatur est saepe explicabo id optio repudiandae nam, magni tempora quaerat nesciunt repellendus iure. Dignissimos minima quaerat soluta voluptates! Corrupti!</p>
                     </div>
                 </div>
                 <!--Fin de fenetre pop-up pour interventions en maternelle-->

                 <a class="bouton" href="#nos-services_popup2"><button class="nos-services_bouttons">Au collège</button></a>
                 <!--Fenetre pop-up pour interventions en collège-->
                 <div id="nos-services_popup2" class="nos-services_popup_overlay">
                     <div class="nos-services_popup">
                         <a class="nos-services_popup_close" href="#">&times;</a>
                         <h3 class="nos-services_titre-popup">Interventions dans les collèges</h3>
                         <img class="nos-services_image-popup" src="{% static 'images-accueil/recyclerie.JPG' %}" alt="image enfants">
                         <p class="nos-services_texte-popup">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit delectus, consequatur est saepe explicabo id optio repudiandae nam, magni tempora quaerat nesciunt repellendus iure. Dignissimos minima quaerat soluta voluptates! Corrupti!</p>
                     </div>
                 </div>
                 <!--Fin de fenetre pop-up pour interventions en collège-->

                 <a class="bouton" href="#nos-services_popup3"><button class="nos-services_bouttons">En primaire</button></a>

                 <!--Fenetre pop-up pour interventions en primaire-->
                 <div id="nos-services_popup3" class="nos-services_popup_overlay">
                     <div class="nos-services_popup">
                         <a class="nos-services_popup_close" href="#">&times;</a>
                         <h3 class="nos-services_titre-popup">Interventions dans les écoles primaires</h3>
                         <img class="nos-services_image-popup" src="{% static 'images-accueil/clean walk.JPG' %}" alt="image enfants">
                         <p class="nos-services_texte-popup">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit delectus, consequatur est saepe explicabo id optio repudiandae nam, magni tempora quaerat nesciunt repellendus iure. Dignissimos minima quaerat soluta voluptates! Corrupti!</p>
                     </div>
                 </div>
                 <!--Fin de fenetre pop-up pour interventions en primaire-->

                <a class="bouton" href="#nos-services_popup4"> <button class="nos-services_bouttons">Au lycée</button></a>

                 <!--Fenetre pop-up pour interventions en lycée-->
                 <div id="nos-services_popup4" class="nos-services_popup_overlay">
                     <div class="nos-services_popup">
                         <a class="nos-services_popup_close" href="#">&times;</a>
                         <h3 class="nos-services_titre-popup">Interventions dans les lycées</h3>
                         <img class="nos-services_image-popup" src="{% static 'images-nos-services/groupe ados.png' %}" alt="image enfants">
                         <p class="nos-services_texte-popup">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit delectus, consequatur est saepe explicabo id optio repudiandae nam, magni tempora quaerat nesciunt repellendus iure. Dignissimos minima quaerat soluta voluptates! Corrupti!</p>
                     </div>
                 </div>
                 <!--Fin de fenetre pop-up pour interventions en lycée-->
             </div>
         </div>
         <div class="nos-services_colonne2">
             <img class="nos-services_groupe-ados" src="{% static 'images-nos-services/groupe ados.png' %}" alt="image ado">
         </div>
     </div>
     
     <h2 class="nos-services_kit">Kit de sensibilisation</h2>
                 <div class="nos-services_bloc-2">
                 <div class="nos-services_sous-bloc-1">
                 <img class="nos-services_kit-recyclage" src="{% static 'images-nos-services/kit.jpg' %}" alt="image kit">
                 </div>
                 <div class="nos-services_sous-bloc-2">
                      <button class="bouton-commander-un-kit nos-services_bouttons">Commander un Greenkit</button>
                     <p class="nos-services-texte">Notre Greenkit est conçu pour accompagner vos élèves à mettre en oeuvre des résolutions écologiques. Notre Greenkit contient : un seau à compost, une gourde, des cabas, une brosse à vaisselle...</p>
                 </div>
                
         </div>
     {%endif%}
     <!--End of Nos services-->

         
      <!--Ici le contenu du site web/Qui sommes-nous?-->
      {% if page == 'about' %}
         
         <section class="quisommesnous_globale">
                
            <h1>Qui sommes-nous ?</h1>                                                      

            <div class="quisommesnous_green-planet"> <!--Premier bloc "Green Planet"-->
                <h2 id="qui-sommes-nous_soustitre1">Green Planet</h2>

                <div id="qui-sommes-nous_blocgeneral" >  
                    <div id="quisommesnous_blocgauche">   
                        <div class="quisommesnous_texte_green_plante"> <em>Green Planet est une entreprise créée en 2018 à Paris. Nous avons animé plus de 100 interventions dans les écoles.</em>
                            <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam repellat ad a corrupti. Cum magnam asperiores exercitationem, reiciendis velit unde nisi autem in mollitia voluptatibus ex culpa aut voluptates quaerat necessitatibus quos beatae dolor a, vitae perspiciatis. Vero, eaque laboriosam? </div>
                        <div class="quisommesnous_bouton"><a href="{% static 'contact.html' %}">Nous contacter</div></a>

                    </div>
                    <div id="quisommesnous_blocdroite">
                        <div id="quisommesnous_ile"><img id="quisommesnous_image-ile" src="{% static 'images-quisommesnous/lighthouse-gif-large.gif' %}" alt="img ile"></div> 
                    </div>
                </div>

            </div> <!--Fermeture premier bloc "Green Planet"-->

            
             <!--Deuxième bloc "Notre équipe"-->
                <h2 id="quisommesnous_titre2">Notre équipe</h2>
                <div class="quisommesnous_notre-equipe">
                        <div class="quisommesnous_personne">
                            <div> <img class="quisommesnous_photo_equipe" src="{% static 'images-quisommesnous/femme1.PNG' %}" alt="photodirectrice"></div>
                            <div class="quisommesnous_texte_equipe"><em>Alice Cazenave</em> <br>Directrice de Green Planet</div>
                        </div>

                        <div class="quisommesnous_personne">
                                <div> <img class="quisommesnous_photo_equipe" src="{% static 'images-quisommesnous/homme1.PNG' %}"alt="photo_charge_homme"></div>
                                <div class="quisommesnous_texte_equipe"><em>Auguste Bouchal</em> <br>Chargé de mission</div>
                        </div>

                        <div class="quisommesnous_personne">
                            <div > <img class="quisommesnous_photo_equipe"src="{% static 'images-quisommesnous/femme2.PNG' %}" alt="photo_charge_femme"></div>
                            <div class="quisommesnous_texte_equipe"><em>Lili Emile</em> <br>Chargée de mission</div> 
                        </div>
            </div> <!--Fermeture deuxième bloc "Notre équipe"-->
                                
             <!--Troisième bloc "Nos partenaires"-->
                    <h2 id="quisommesnous_titre3">Nos partenaires</h2>
                    <div class="quisommesnous_nospartenaires">
                            <div> <img class="quisommesnous_logo" src="{% static 'images-quisommesnous/cffcdf2a61d84205eff67176a5406e2b.jpg' %}" alt="logo1"></div>
                            <div> <img class="quisommesnous_logo" src="{% static 'images-quisommesnous/télécharger.jfif' %}" alt="logo2"></div>
                            <div> <img class="quisommesnous_logo" src="{% static 'images-quisommesnous/télécharger (1).jfif' %}" alt="logo3"></div>
                            <div> <img class="quisommesnous_logo" src="{% static 'images-quisommesnous/e1977c5e3bd414794ffcb63cec8fdfc1.jpeg' %}" alt="logo4"></div>
                            <div> <img class="quisommesnous_logo" src="{% static 'images-quisommesnous/LOGO RIDF_2019.png' %}" alt="logo5"></div>
                </div> <!--Fermeture troisième bloc "Notre partenaires"--> 
        </section>

         {%endif%}
         <!-- End of Qui sommes-nous?-->

     

    <!--Ici le contenu du site web/Contact-->
     {% if page == 'contact' %}
     
     <section id="contact">

        <h1 id="contact_titre1">Contact</h1>

        <div id="contact_blocgeneral"> <!--Bloc général pour flexbox-->

            <div id="contact_gauche"><!--Blocs à gauche-->

                <!--Carte d'informations générales-->
                <div id="contact_carte">
                    <h2 class="contact_titre2">Green Planet</h2>
                    <ul id="contact_informations">
                        <li class="contact_list"><img class="contact_icones" src="{% static 'images-contact/localisateur.svg' %}" alt="icone adresse">15 rue Henri Chevreau, 75020 Paris</li>
                        <li class="contact_list"><img class="contact_icones" src="{% static 'images-contact/telephone.svg' %}" alt="icone numero">06 01 02 03 04</li>
                        <li class="contact_list"><img class="contact_icones" src="{% static 'images-contact/mail.svg' %}" alt="icone mail"><a href="#">contact@greenplanet.com</a></li>
                        <li class="contact_list"><img class="contact_icones" src="{% static 'images-contact/horloge.svg' %}" alt="icone dispo">Du lundi au vendredi, 9h à 18h</li>
                    </ul>
                </div>

                <!--Nos secteurs d'intervention-->
                <div id="contact_secteurs">
                    <h2 class="contact_titre3"><img class="contact_loc" src="{% static 'images-contact/loc2.svg' %}" alt="icone localisation">Nos secteurs d'intervention</h2>
                    <div id="contact_texteintervention">Nous intervenons partout en France métropolitaine</div>
                </div>

            </div><!--Fermeture blocs à gauche-->

            <div id="contact_droite"><!--Bloc à droite-->

                <!--Formulaire de contact-->
                <div id="contact_formulaire">
                    <h2 class="contact_titre3">Nous contacter</h2>

                    <form id="contact_survey-form">
                        <div class="contact_case">
                            <label for="contact_name" id="contact_name-label">Prénom Nom</label> <input type="text" id="contact_name" placeholder="Malik Dupont" required/>
                        </div>
                    
                        <div class="contact_case">
                            <label for="contact_email" id="contact_email-label">Votre adresse mail</label> <input type="email" id="contact_email" placeholder="malik.dupont@monmail.com" required/>
                        </div>


                        <div class="contact_case">
                            <label for="contact_comments" id="contact_comments-label">Votre message</label>
                            <textarea id="contact_comments" name="comments" rows="5" cols="40" placeholder="Mon message"></textarea>
                        </div>

                        <div class="contact_end">
                            <button type="submit" id="contact_submit"><div id="contact_icon-envoi"><i class="fa-regular fa-paper-plane"></i></div></button>
                        </div>    
                    </form>


                </div>

            </div> <!--Fermeture bloc à droite-->

        </div> <!--Fermeture bloc général-->   
    </section>
     {%endif%}
     <!-- End of Contact-->


     <!--Ici le contenu du site web/Chatbot-->
     
     {% if page == 'chatbot' %}
     <div id="chatbox" style="height: 300px; width: 500px; border: 1px solid black; overflow: scroll;">
      <ol class="chat">
      {% for msg in history %}
              {% if msg.type == "user" %}
              <li class="other"><div class="avatar"><img src="{% static 'images-general/logo-green-planet.png' %}" draggable="false"/></div>
                <div class="msg"><p>{{ msg.content }}</p><time>20:17</time></div></li>
              {% else %}
              <li class="self"><div class="avatar"><i class="fa-solid fa-user"></i></div>
                <div class="msg2"><p>{{ msg.content }}</p><time>20:17</time></div></li>
              {% endif %}
          {% endfor %}
      </div>
      </ol>   

        <form method="post">
            {% csrf_token%}
            <input type="hidden" size=80 name="history" value="{{history}}">
            <input type="text" name="question" value="">
            <input type="submit" name="Envoyer">

        </form>

     {% endif %}

<!--End of Chatbot-->


    <div id="footer_blocblanc"></div>
    <!--Code pour le footer-->
    <footer>
      <div id="footer_gauche">
        <p id="footer_green-planet">©Green Planet - 2023</p>
        <p id="footer_mentions">
          <a href="{% static 'mentions-legales.html' %}">Mentions légales</a>
        </p>
      </div>
      <div id="footer_droite">
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </footer>
  </body>
</html>
